/* ========== RELATÓRIOS ========== */
#relatorios h1 { /* Estilo pro titulod a pagina de relatorios */
  font-size: 32px;
  color: #53a587;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

#relatorios select,
#relatorios input[type="date"] { /* Estilo para os campos de seleção de data e o nome do filho, atenção: não muda o stilo do que será selecionado e sim o input em si */
  padding: 12px 20px;
  border: 2px solid #e3f5e9;
  border-radius: 15px;
  font-size: 16px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

#relatorios select:focus,
#relatorios input[type="date"]:focus { /* efeito de foco para destacar o campo ativo da página de relatórios */
  outline: none;
  border-color: #53a587;
  box-shadow: 0 0 0 3px rgba(83, 165, 135, 0.1);
}

#relatorios button { /* estilo do botão de filtrar da pagina de relatório. */
  padding: 12px 28px;
  background: linear-gradient(135deg, #53a587, #44a380);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

#relatorios button:hover {  /* efeito de hover para destacar o botão de filtrar da página de relatórios */
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(83, 165, 135, 0.4);
}

#relatorioResultado { /* estilo para a parte do resultado, depois que o ususario clica em filtrar*/
  margin-top: 30px;
  background: rgba(255,255,255,0.9);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1600px) { /*============FULL HD============*/
  #relatorios h1 {
    font-size: 38px;
    margin-bottom: 36px;
  }
  #relatorios select,
  #relatorios input[type="date"]{
    padding: 16px 28px;
    font-size: 26px;
    margin-right: 20px;
  }
  #relatorios button {
    padding: 16px 32px;
    font-size: 26px;
  }
  #relatorioResultado {
    padding: 30px;
    gap: 15px;
  }
}
@media (min-width: 2200px) {/*========2K===========*/
  #relatorios h1 {
    font-size: 51px;
    margin-bottom: 48px;
  }
  #relatorios select,
  #relatorios input[type="date"]{
    padding: 20px 36px;
    font-size: 30px;
    margin-right: 28px;
  }
  #relatorios button {
    padding: 20px 40px;
    font-size: 30px;
  }
  #relatorioResultado {
    padding: 38px;
    gap: 20px;
  }
}
@media (min-width: 3000px) {/*============4K============*/
  #relatorios h1 {
    font-size: 77px;
    margin-bottom: 72px;
  }
  #relatorios select,
  #relatorios input[type="date"]{
    padding: 28px 48px;
    font-size: 50px;
    margin-right: 40px;
  }
  #relatorios button {
    padding: 28px 56px;
    font-size: 50px;
  }
  #relatorioResultado {
    padding: 48px;
    gap: 25px;
  }
}